/* Basic Setup */
:root {
  --background: #bfd7b5;
  --offset: #e7efc5;
  --accent: #413c58;
  --offset1: #302c41;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;

  display: grid;
  place-content: center;

  background-color: var(--background);
}

/* ------------------------------------------------------------------------- */
/* PROMPT ------------------------------------------------------------------ */
/* ------------------------------------------------------------------------- */
.prompt {
  background-color: var(--offset);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 2px var(--offset1);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
}
.prompt > p, input {
  text-align: center;
  align-self: center;
}
.prompt > p {
  font-size: 2.5rem;
  font-weight: 300;
}
.prompt > form {
  display: flex;
  align-content: center;
}
.prompt > form > input {
  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: 1em 3em;
  font-weight: bold;
}
.prompt > form > input:focus {
  box-shadow: 0 0 2px var(--accent);
}
.prompt > form > button {
  padding-left: 1em;
  justify-self: center;
}
.prompt > form > button > i {
  font-size: 2em;
}

/* ------------------------------------------------------------------------- */
/* MAIN - TODO ------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
main {
  background-color: var(--offset);
  border-radius: 5px;
  padding: 2rem 4rem;
  box-shadow: 0 0 2px var(--offset1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  grid-column-gap: 2em;
}
main > h1 {
  grid-column: 1 / 3;
  text-align: center;
}
main > #js-start {
  grid-column: 1 / 2;
  background-color: lightblue;
}
main > #js-end {
  grid-column: 2 / 3;
  background-color: grey;
}
main > div > input {
  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: .5em 1em;
  font-weight: bold;
}
/* main > .list > .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
main > .list > div > i {
  cursor: pointer;
}
main > .list > div > i:nth-child(1) {
  font-size: 1rem;
  color: red;
}
main > .list > div > p {
  margin: 0 8px 0 8px;
  flex: 1;
}
main > .list > div > i:nth-child(3) {
  font-size: 1.5rem;
  color: grey;
}
main > .list > div > i:nth-child(3):hover {
  color: green;
} */



/* ------------------------------------------------------------------------- */
/* UTILITIES --------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.noDisplay {
  display: none;
}
.emptyEffect{
  border: 1px solid red;
}
.strike {
  position: relative;
  color: grey;
}
.strike::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  border: 1px solid grey;
}
i {
  font-size: 1.5rem;
}
button {
  border: none;
  cursor: pointer;
  color: var(--accent);
  background-color: var(--offset);
}
button:hover {
  color: var(--offset1);
}
.visible {
  visibility: hidden;
}